.btn, button{
    display: inline-block;
    border: 2px solid;
    border-radius: 8px;
    padding: 8px 16px;
    text-decoration: none;
}
.btn-block{
    display: block;
    width: 100%;
}
#carrito span{
    position: absolute;
    top: 0;
    right: 0;

    width: 24px;
    height: 24px;

    border-radius: 50%;

    font-size: 0.75rem;

    background: black;

    display: flex;
    justify-content: center;
    align-items: center;
}

header a.btn{
    position: relative;
}
