body {
  color: #222;
  font-family: inter;
  font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #444;
}
a,
.m-color {
  color: crimson;
}
body {
  font-family: "Inter", sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small, .text_small {
  font-size: 0.8rem;
}

nav li{
  display: inline-block;
}

.box{
  border: 2px solid crimson;
  border-radius: 8px;
}

nav ul li{
  margin: 0px 16px;
}
